---
layout: default-sidebar
---


<div id="home-index" class="home">

  <p class="home-page-heading">Articles by<span class="ghost-button-group"><a class="ghost-button ghost-button-small active" href="/">Date</a><a class="ghost-button ghost-button-small" href="/topics/">Topic</a></span></p>
    
  {% for post in site.posts %}
    <article class="post">   
      <h2><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="post-meta">
            {% for category in post.categories %}
                <span class="meta-category"><a href="/category/{{ category | slugify }}/">{{ category | replace:'-', ' '}}</a></span>
            {% endfor %}
            <span>{{ post.date | date: "%B %e, %Y" }}</span>
      </div>
      <div class="post-summary">
        <p>{{ post.content | strip_html | truncatewords:40}}</p>
      </div>
    </article>
  {% endfor %}
    
  <p class="rss-subscribe"><a href="{{ site.feeds }}">{% include svg-icons/rss.html %} Subscribe via RSS</a></p>
</div>
