---
layout: default
---

<div class="home">

    <h1 class="page-heading">Posts by Topics</h1>

    {% capture tags %}
    {% for tag in site.categories %}
        {{ tag[0] | slugify }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
      <h3 class="post-topic">{{ tag | replace:'-', ' ' }}</h3>
      <ul class="post-list">
      {% for post in site.categories[tag] %}
        <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}

    {% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] | slugify }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
      <h3 class="post-topic">{{ tag | replace:'-', ' ' }}</h3>
      <ul class="post-list">
      {% for post in site.tags[tag] %}
        <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
