---
layout: page-sidebar
title: Article Topics
permalink: /topics/
description: Coding Tips article topics - HTML-CSS, JavaScript, Canvas, Flat Web Design, Responsive Web design, Developer Tools, CSS Buttons & more.
---

<div id="home-topics" class="home">

    <div class="grid">
        <div class="grid-col grid-col-half">
            <h2>Categories</h2>
            {% assign cats = site.categories | sort %}
            {% for category in cats %}
             <h3 class="post-topic"><a href="/category/{{ category[0] | slugify }}/">
                {{ category[0] | replace:'-', ' ' }}
            </a></h3>
            {% endfor %}
        </div>

        <div class="grid-col grid-col-half">
            <h2>Tags</h2>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
             <h3 class="post-topic site-tag"><a href="/tag/{{ tag[0] | slugify }}/" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
            </a></h3>
            {% endfor %}
        </div>
    </div>

  <p class="rss-subscribe"><a href="{{ site.feeds }}" target="_blank" rel="nofollow">{% include svg-icons/rss.html %} Subscribe via RSS</a></p>

</div>
