---
layout: default
title: Articles by Topic
permalink: /topics/
---

<div id="home-topics" class="home">

    <p class="home-page-heading">Articles by<span class="ghost-button-group"><a class="ghost-button ghost-button-small" href="/">Date</a><a class="ghost-button ghost-button-small active" href="/topics/">Topic</a></span></p>
    <div class="grid">
        <div class="grid-col grid-col-half">
            {% capture tags %}
            {% for tag in site.tags %}
                {{ tag[0] | slugify }}
            {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
                <h3 class="post-topic">{{ tag | replace:'-', ' ' }}</h3>
                <ul class="post-list">
                {% for post in site.tags[tag] %}
                <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="grid-col grid-col-half">
            {% capture tags %}
            {% for tag in site.categories %}
                {{ tag[0] | slugify }}
            {% endfor %}
            {% endcapture %}
            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
                <h3 class="post-topic">{{ tag | replace:'-', ' ' }}</h3>
                <ul class="post-list">
                {% for post in site.categories[tag] %}
                <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}

            <div class="homepage-ad">
                {% include sidebar-ad.html %}
            </div>
        </div>
    </div>

  <p class="rss-subscribe"><a href="{{ site.feeds }}">{% include svg-icons/rss.html %} Subscribe via RSS</a></p>

</div>
