{% if site.ads1 %}
<div class="head-ad">
    <style>
    .sdr-responsive-sidebar { width: 320px; height: 50px; }
    @media(min-width: 660px) { .sdr-responsive-sidebar { width: 468px; height: 60px; } }
    @media(min-width: 981px) { .sdr-responsive-sidebar { width: 728px; height: 90px; } }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- SDR-Responsive-Sidebar -->
    <ins class="adsbygoogle sdr-responsive-sidebar"
         style="display:inline-block"
         data-ad-client="ca-pub-2882870425816773"
         data-ad-slot="2885699330"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% else %}
<img src="http://placehold.it/728x90/">
{% endif %}