{% include subscription-form.html %}

{% include sidebar-ad.html %}

<div class="sidebar-title">Search</div>
<form role="search" method="get" class="searchform" action="/search/">
    <input type="text" name="s" placeholder="E.g. Responsive Design">
</form>

<div class="textwidget">
    <a href="http://superdevresources.com" target="_blank" title="Take your apps, games and websites to the next level">
        <img src="/images/super-dev-resources-320.png" alt="Super Dev Resources">
    </a>
</div>