<div class="social-media-list">
    

    {% if site.twitter_username %}
    <a class="icon" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"  target="_blank" rel="nofollow">{% include svg-icons/twitter.html %}</a>
    {% endif %}

    {% if site.github_username %}
    <a class="icon" href="https://github.com/{{ site.github_username }}" title="GitHub" target="_blank" rel="nofollow">{% include svg-icons/github.html %}</a>
    {% endif %}

    <a class="icon" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Rss" target="_blank" rel="nofollow">{% include svg-icons/rss.html %}</a>
    
</div>