<div id="sponsers-list" class="embed">
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
<a href="#" class="sponser-125"><img src="http://placehold.it/125x125" width="125" height="125"/></a>
</div>