.grid {
    @extend %clearfix;
}

.grid-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
}

.grid-col-half {
    width: 50%;
}

.grid-col-half:first-child {
    padding-right: $spacing-unit / 2;
}

.grid-col-half:last-child {
    padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
    .grid-col {
        float: none;
        width: 100%;
    }
    
    .grid-col-half {
        width: 100%;
        
        &:first-child {
            padding-right: 0;
        }

        &:last-child {
            padding-left: 0;
        }
    }
}