/**
 * Site header
 */
.site-header {
    background-color: #333333;
    min-height: 110px;

    .wrapper {
        position: relative;
    }
}

.site-title {
    font-size: 32px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:hover,
    &:visited {
        color: $light-color;
    }
}

#header-brand {
    @include media-query($on-palm) {
        text-align: center;
        margin: 0 auto;
    }
}

#header-ad {
    position: absolute;
    max-height: 90px;
    max-width: 728px;
    top: 10px;
    right: $spacing-unit;

    @include media-query($on-laptop) {
        max-height: 60px;
        max-width: 468px;
        top: 25px;
        right: $spacing-unit / 2;
    }

    @include media-query($on-palm) {
        max-height: 60px;
        max-width: 468px;
        position: relative;
        display: block;
        top: 0;
        right: 0;
        margin: $spacing-unit / 2 auto;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    .footer-credit {
        text-align: center;
        font-size: $small-font-size;
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 3;
    }
}

.post-topic {
    text-transform: uppercase;
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 3;

    color: $text-color;
    display:inline-block;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    @extend %vertical-rhythm;
}

.post-link {
    font-weight: 700;
}

#home-index {
    article {
        margin-top: $spacing-unit  * 1.5;
        margin-bottom: $spacing-unit  * 1.5;
    }

    h2 {
        margin-bottom: $spacing-unit / 1.8;
    }

    .post-link {
        font-weight: 700;
    }

    .post-summary {
        color: $grey-color;
    }
}

.post-list {
    .post-link {
        font-size: 1.2 * $base-font-size;
    }
}

.rss-subscribe a {
    color: $grey-color;

    svg {
        fill: lighten($grey-color, 6%);
    }
}

/* Sidebar Layout */
.page-content-sidebar {
    padding: $spacing-unit 0;

    .wrapper {
        position: relative;
    }

    .content-wrapper {
      float: left;
      width: 100%;
    }

    .content-inner {
      margin-right: $sidebar-width + (2 * $spacing-unit);
      clear: both;
      overflow: auto;
      
        @include media-query($on-laptop) {
            margin-right: 0;
        }
    }

    .sidebar {
      position: relative;
      width: $sidebar-width + (2 * $spacing-unit);
      margin-left: -1 *( $sidebar-width + (2 * $spacing-unit) );
      float: right;
      overflow: hidden;
      min-height: 300px;
      padding-left: 2 * $spacing-unit;

        @include media-query($on-laptop) {
            display: none;
        }
    }
}

.sidebar-ad {
    margin-bottom: $spacing-unit;
}

.sidebar-title {
    font-size: $small-font-size;
    color: $grey-color;
    padding-bottom: $spacing-unit / 3;
}

.searchform {
    display: block;
    width: 100%;
    margin-bottom: $spacing-unit;

    input {
        padding:6px 15px;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
}

.post-content {
    margin-bottom: $spacing-unit;
}

.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.meta-tag a {
    background-color: $grey-color-dark;
    color: $light-color;
    padding: 5px 12px;
    border-radius: 4px;
    margin-left: 6px;
    text-transform: uppercase;
    @include transition(background-color .3s ease);

    &:hover {
        background-color: $grey-color;
    }
}

.meta-category a {
    background-color: $secondary-color;
    color: $light-color;
    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 6px;
    text-transform: uppercase;
    @include transition(background-color .3s ease);

    &:hover {
        background-color: $secondary-color-soft;
    }
}

.home-page-heading {
    padding-top: 6px;

    .ghost-button-group {
        margin-left: 12px;
    }
}