---
layout: default-sidebar
---
<div class="post">

    <article class="post-content" itemscope itemtype="http://schema.org/Article">
      <header class="post-header">
        <h1 class="post-title entry-title" itemprop="name">{{ page.title }}</h1>
        <div class="post-meta">
            {% for category in page.categories %}
                <span class="meta-category"><a href="/category/{{ category | slugify }}/">{{ category | replace:'-', ' ' }}</a></span>
            {% endfor %}
            {% if page.modified %}
                Updated on: <time class="date updated" datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%b %-d, %Y" }}</time>
            {% else %}
                <time class="date published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% endif %}
            by <span itemprop="author">{{ site.name }}</span>
        </div>
      </header>
      <div class="entry-content">
        {{ content }}
      </div>
    </article>

    <div class="embed text-center">
    {% include post-bottom-ad.html %}
    </div>

    {% if page.tags.size > 0 %}
    <div class="post-meta">
        Tags
        {% for tag in page.tags %}
            <span class="meta-tag"><a rel="tag" href="/tag/{{ tag | slugify }}/">{{ tag | replace:'-', ' ' }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="share-page">
        {% include share-page.html %}
    </div>
    <div class="related-posts">
        <div class="related-posts-heading">Hungry for more?</div>
        <ul>
        {% for related in site.related_posts %}
        {% if forloop.index < 6 %}
           <li><a class="post-link" href="{{ related.url | prepend: site.baseurl }}">{{ related.title }}</a><span class="related-category">{{ related.categories | array_to_sentence_string | replace:'-',' ' }}</span></li>
        {% endif %}
        {% endfor %}
        </ul>
        <p class="rss-subscribe">
            <a class="mail-subscribe" href="https://feedburner.google.com/fb/a/mailverify?uri=supercodingtips&amp;loc=en_US" target="_blank" rel="nofollow">{% include svg-icons/mail.html %} Subscribe by Email</a>
            <a href="{{ site.feeds }}" target="_blank" rel="nofollow">{% include svg-icons/rss.html %} Subscribe via RSS</a>
        </p>
    </div>
     {% include disqus.html %}
</div>
{% include addthis.html %}