---
layout: default-sidebar
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
        {% for category in page.categories %}
            <span class="meta-category"><a href="/category/{{ category | slugify }}/">{{ category | replace:'-', ' ' }}</a></span>
        {% endfor %}
        <span>{{ page.date | date: "%b %-d, %Y" }}</span>
    </div>
  </header>

    <article class="post-content">
        {{ content }}
    </article>

    <div class="embed text-center">
    {% include post-bottom-ad.html %}
    </div>

    {% if page.tags.size > 0 %}
    <div class="post-meta">
        Tags  
        {% for tag in page.tags %}
            <span class="meta-tag"><a href="/tag/{{ tag | slugify }}/">{{ tag | replace:'-', ' ' }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="share-page">
        {% include share-page.html %}
    </div>
     {% include disqus.html %}
</div>
